<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<title>KHABAR | News Magazin Template</title>
		<meta name="description" content="KHABAR | News Magazin Template">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Awesomefont -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- General CSS Settings -->
		<link rel="stylesheet" href="css/general_style.css">
		<!-- Main Style of the template -->
		<link rel="stylesheet" href="css/main_style.css" title="main">
		<!-- Landing Page Style -->
		<link rel="stylesheet" href="css/reset_style.css">
		<!-- Fav Icon -->
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body>
		<!-- Wrapper -->
		<div class="lx-wrapper">
			<!-- Loader -->
			<div class="lx-loader">
				<img src="images/ring.svg" alt="Loading" />
				<img src="images/logo.png" alt="alternative title" />
			</div>
			<!-- Color Setting -->
			<div class="lx-settings">
				<i class="fa fa-gear"></i>
				<div class="lx-colors">
					<a href="javascript:;" data-css-link="css/main_style.css"><span class="lx-yellow"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_green.css"><span class="lx-green"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_purple.css"><span class="lx-purple"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_pink.css"><span class="lx-pink"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_blue.css"><span class="lx-blue"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_gray.css"><span class="lx-gray"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_orange.css"><span class="lx-orange"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_red.css"><span class="lx-red"></span></a>
				</div>
			</div>
			<div class="lx-g1-f">
				<!-- Header -->
				<div class="lx-header lx-header-horizontal">
					<!-- Header Mobile Menu Button -->
					<div class="lx-header-content">
						<div class="lx-header-content-top">
							<!-- Header Search -->
							<div class="lx-header-search">
								<form action="#" method="post" autocomplete="off">
									<label><input type="text" name="keyword" placeholder="Search" /></label>
									<input type="submit" name="submit" value="&#xf002;" class="fa fa-search" />
								</form>
							</div>
							<!-- Header Date -->
							<div class="lx-header-date">
								<span>Friday, 20<sup>th</sup> February 2017</span>
							</div>
							<div class="lx-clear-fix"></div>
						</div>
						<div class="lx-header-content-bottom">
							<!-- Header Logo -->
							<div class="lx-header-logo">
								<a href="index-1.html">KHABAR</a>
							</div>
							<!-- Header Menu -->
							<div class="lx-header-main-menu">
								<a href="javascript:;"><i class="fa fa-bars"></i></a>
								<ul>
									<li><a href="index-1.html" class="active">HOME<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="index.html">SIDE MENU</a></li>
											<li><a href="index-1.html">TOP MENU</a></li>
										</ul>										
									</li>
									<li><a href="#">POSTS<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="posts-mixed-1.html">MIXED LAYOUT</a></li>
											<li><a href="posts-classique-1.html">CLASSIC LAYOUT</a></li>
											<li><a href="posts-blog-1.html">BlOG LAYOUT</a></li>
											<li><a href="posts-grid-1.html">GRID</a></li>
											<li><a href="posts-chronological-1.html">CHRONOLOGICAL</a></li>
											<li><a href="posts-minimal-1.html">MINIMAL</a></li>
										</ul>									
									</li>
									<li><a href="#">SINGLE POST<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="single-post-hero-fullwidth-1.html">HERO FULLWIDTH</a></li>
											<li><a href="single-post-sidebar-1.html">SIDEBAR</a></li>
											<li><a href="single-post-fullwidth-1.html">NO SIDEBAR</a></li>
											<li><a href="single-post-video-1.html">VIDEO</a></li>
											<li><a href="single-post-gallery-1.html">GALLERY</a></li>
										</ul>										
									</li>
									<li><a href="#">PAGES<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="about-us-1.html">About Us</a></li>
											<li><a href="code-of-ethics-1.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions-1.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines-1.html">Community Guidelines</a></li>
											<li><a href="work-for-us-1.html">Work for us</a></li>
											<li><a href="contact-us-1.html">Contact Us</a></li>
											<li><a href="tv-schedule-1.html">TV Schedule</a></li>	
										</ul>	
									</li>
									<li><a href="#">SPORT<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu lx-sub-menu-fullheight">
											<li><a href="#"><img src="images/sport1.jpg" alt="alternative title" /><strong>Wilkinson's advice on winning the England cap</strong></a></li>
											<li><a href="#"><img src="images/sport2.jpg" alt="alternative title" /><strong>2024 Olympics: Budapest to drop bid to host Games</strong></a></li>
											<li><a href="#"><img src="images/sport3.jpg" alt="alternative title" /><strong>New Formula 1 cars will be a 'massive challenge'</strong></a></li>
											<li><a href="#"><img src="images/sport4.jpg" alt="alternative title" /><strong>New Zealand: Ross Taylor becomes country's leading ODI</strong></a></li>
										</ul>	
									</li>
									<li><a href="videos-1.html">VIDEOS</a></li>
									<li><a href="shortcodes-1.html">SHOTCODES</a></li>
									<li><a href="../rtl/index.html">RTL VERSION</a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="lx-g1-f">
				<div class="lx-body">
					<div class="lx-body-content lx-body-content-horizontal">
						<div class="lx-g1-f">
							<!-- Breaking News -->
							<div class="lx-breaking-news lx-width-100per">
								<span>BREAKING NEWS</span>
								<ul>
									<li><a href="#">Sarah Palin 'could be next US ambassador to Canada'</a></li>
									<li><a href="#">Steve Bannon thinks the apocalypse is coming</a></li>
									<li><a href="#">Government 'trying to kill off solar' before it becomes cheapest form of electricity</a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>						
						</div>
						<div class="lx-g3-2-f">
							<!-- Main Content -->
							<div class="lx-body-main-content">
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>WORLD</h2>
									</div>
									<!-- News Container Content -->
									<div class="lx-news-container-content">
										<!-- News Item Sticky -->
										<div class="lx-news-item lx-sticky">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/sport1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth-1.html">Is this really how fascism takes hold in the US?</a></h3>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<div class="lx-lx-news-item-meta">
													<ul>
														<li><i class="fa fa-user"></i>&nbsp;By <a href="#" class="lx-meta-author">John Marton</a></li>
														<li><a href="#"><i class="fa fa-comment"></i>&nbsp;3 Comment(s)</a></li>
													</ul>
												</div>
												<a href="single-post-hero-fullwidth-1.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<!-- News Item -->
										<div class="lx-news-item">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/world1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth-1.html">Is this really how fascism takes hold in the US?</a></h3>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<div class="lx-lx-news-item-meta">
													<ul>
														<li><i class="fa fa-user"></i>&nbsp;By <a href="#" class="lx-meta-author">John Marton</a></li>
														<li><a href="#"><i class="fa fa-comment"></i>&nbsp;3 Comment(s)</a></li>
													</ul>
												</div>
												<a href="single-post-hero-fullwidth-1.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<!-- News Item -->
										<div class="lx-news-item">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/tech1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth-1.html">Is this really how fascism takes hold in the US?</a></h3>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<div class="lx-lx-news-item-meta">
													<ul>
														<li><i class="fa fa-user"></i>&nbsp;By <a href="#" class="lx-meta-author">John Marton</a></li>
														<li><a href="#"><i class="fa fa-comment"></i>&nbsp;3 Comment(s)</a></li>
													</ul>
												</div>
												<a href="single-post-hero-fullwidth-1.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<!-- News Item -->
										<div class="lx-news-item">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/food1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth-1.html">Trump and Iran: Scenarios of escalation</a></h3>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<div class="lx-lx-news-item-meta">
													<ul>
														<li><i class="fa fa-user"></i>&nbsp;By <a href="#" class="lx-meta-author">John Marton</a></li>
														<li><a href="#"><i class="fa fa-comment"></i>&nbsp;3 Comment(s)</a></li>
													</ul>
												</div>
												<a href="single-post-hero-fullwidth-1.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<!-- News Item -->
										<div class="lx-news-item">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/economy1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth-1.html">Muhammadu Buhari's 'inconclusive' medical vacation</a></h3>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<div class="lx-lx-news-item-meta">
													<ul>
														<li><i class="fa fa-user"></i>&nbsp;By <a href="#" class="lx-meta-author">John Marton</a></li>
														<li><a href="#"><i class="fa fa-comment"></i>&nbsp;3 Comment(s)</a></li>
													</ul>
												</div>
												<a href="single-post-hero-fullwidth-1.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<!-- News Item -->
										<div class="lx-news-item">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/picture1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth-1.html">Trump's 'Muslim ban' is not an exception in US history</a></h3>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<div class="lx-lx-news-item-meta">
													<ul>
														<li><i class="fa fa-user"></i>&nbsp;By <a href="#" class="lx-meta-author">John Marton</a></li>
														<li><a href="#"><i class="fa fa-comment"></i>&nbsp;3 Comment(s)</a></li>
													</ul>
												</div>
												<a href="single-post-hero-fullwidth-1.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
									<!-- News Container Pagination -->
									<div class="lx-news-container-pagination">
										<!-- News Container Pagination Desktop -->
										<div class="lx-news-container-pagination-desktop">
											<ul>
												<li><a href="#"><i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i></a></li>
												<li><a href="#"><i class="fa fa-caret-left"></i></a></li>
												<li><a href="#">1</a></li>
												<li><a href="#" class="active">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
												<li><a href="#"><i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i></a></li>
											</ul>
											<div class="lx-clear-fix"></div>
										</div>
										<!-- News Container Pagination Mobile -->
										<div class="lx-news-container-pagination-mobile">
											<a href="javascript:;"><i class="fa fa-refresh"></i>&nbsp;SHOW MORE ...</a>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div class="lx-g3-f">
							<!-- Side Bar -->
							<div class="lx-sidebar">
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>NEWS</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Tabs Nav -->
										<div class="lx-tab-nav">
											<ul>
												<li><a href="javascript:;" class="active">Popular</a></li>
												<li><a href="javascript:;">Recent</a></li>
											</ul>
										</div>
										<div class="lx-clear-fix"></div>
										<!-- Tabs Items -->
										<div class="lx-latest-news lx-tab lx-main-tab">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/world1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Is this really how fascism takes hold in the US?</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">2024 Olympics: Budapest to drop bid to host Games</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/tech1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Vardy away goal keeps Leicester in Sevilla tie</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/food1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Into the wild of Antarctica: Scientists, robots and 'pancake'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-latest-news lx-tab">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/economy1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Scientists create first human-pig embryos</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/world2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Lamb burgers with kumara fritters and silver beet</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">New deal to 'boost trade by $1 trillion'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/tech2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Gig economy chiefs defend business model</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Side Bar Search -->
										<div class="lx-sidebar-search">
											<form action="#" method="post">
												<input type="text" name="s" placeholder="Type something ..." />
												<input type="submit" name="submit" value="&#xf002;" class="fa fa-search" />
												<div class="lx-clear-fix"></div>
											</form>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>EVENT</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Side Bar Event -->
										<div class="lx-event">
											<div class="lx-event-img">
												<a href="#"><img src="images/pers-pic2.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-event-text">
												<h3>
													<a href="#">New Formula 1 cars will be a 'massive challenge'</a>
												</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>OPINION</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Latest News -->
										<div class="lx-latest-news">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Fed may raise rates 'fairly soon'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Are you ready to reintroduce high-FODMAP foods?</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic3.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Marinated beaf cutlets with charred veg and mint pesto</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Trump to blame as doomsday draws closer, scientists say</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>SOCIAL MEDIA</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Side Bar Social Media -->
										<div class="lx-sidebar-social-media">
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-facebook">
												<i class="fa fa-facebook"></i>
												<h3>JOIN US ON FACEBOOK</h3>
												<a href="#">@khabar</a>
											</div>
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-twitter">
												<i class="fa fa-twitter"></i>
												<h3>FOLLOW US ON TWITTER</h3>
												<a href="#">@khabar</a>
											</div>
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-instagram">
												<i class="fa fa-instagram"></i>
												<h3>FOLLOW US ON INSTAGRAM</h3>
												<a href="#">@khabar</a>
											</div>
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-youtube">
												<i class="fa fa-youtube"></i>
												<h3>STAY TUNE ON YOUTUBE</h3>
												<a href="#">@khabar</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>WEATHER</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Side Bar Weather -->
										<div class="lx-weather">
											<div class="lx-weather-main">
												<h3>CASABLANCA</h3>
												<div class="lx-weather-icon-deg">
													<i class="fa fa-sun-o"></i>
													<strong>23<sup>c</sup></strong>
												</div>
												<div class="lx-weather-text">
													<strong>Sunny</strong>
													<p>humidity: 10%</p>
													<p>wind: 1km/h NW</p>
												</div>
											</div>
											<div class="lx-weather-days">
												<ul>
													<li><strong>24<sup>c</sup></strong><br /><span>MON</span></li>
													<li><strong>20<sup>c</sup></strong><br /><span>TUE</span></li>
													<li><strong>21<sup>c</sup></strong><br /><span>WED</span></li>
													<li><strong>22<sup>c</sup></strong><br /><span>THU</span></li>
													<li><strong>25<sup>c</sup></strong><br /><span>FRI</span></li>
													<li><strong>30<sup>c</sup></strong><br /><span>SAT</span></li>
												</ul>
											</div>
											<div class="lx-clear-fix"></div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>PICTURES OF THE WEEK</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Mini Side -->
										<div class="lx-mini-slide">
											<!-- Mini Side Nav -->
											<div class="lx-mini-slide-nav">
												<i class="fa fa-angle-left"></i>
												<i class="fa fa-angle-right"></i>
											</div>
											<!-- Mini Side Items -->
											<ul>
												<li><a href="#"><img src="images/food3.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/economy3.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/world4.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/sport4.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/tech4.jpg" alt="alternative title" /></a></li>
											</ul>
											<div class="lx-clear-fix"></div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>TIMELINE NEWS</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Timeline News -->
										<div class="lx-timeline-news">
											<ul>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth-1.html">Falling green energy costs 'to stop' fossil fuel growth</a></h3>
												</li>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth-1.html">Science doesn't care if you believe in it or not</a></h3>
												</li>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth-1.html">'India away is toughest task in world cricket'</a></h3>
												</li>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth-1.html">Aljaz Bedene: Briton knocked out in second round in Marseille</a></h3>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>WATCH</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Latest News -->
										<div class="lx-latest-news">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/food2.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">New Formula 1 cars will be a 'massive challenge'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/economy2.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">UN envoy not expecting breakthrough in Syria talks</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/world3.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Mapping hate: The rise of hate groups in the US</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/sport3.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth-1.html">Trump's 'Muslim ban' is not an exception in US history</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="lx-clear-fix"></div>
					<!-- Footer -->
					<div class="lx-footer">
						<!-- Footer Content -->
						<div class="lx-footer-content">
							<!-- Footer Content Top -->
							<div class="lx-footer-content-top">
								<!-- Footer Newsletter -->
								<div class="lx-footer-newsletter">
									<form action="#" method="post">
										<label for="email">Subscribe to our newsletter</label>
										<input type="text" name="email" id="email" placeholder="Your email ..." />
										<input type="submit" name="submit" value="SUBSCRIBE" />
									</form>
								</div>
								<!-- Footer Social Media -->
								<div class="lx-footer-social-media">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>									
								</div>
								<div class="lx-clear-fix"></div>
							</div>
							<!-- Footer Bottom -->
							<div class="lx-footer-content-bottom">
								<div class="lx-g3-f">
									<!-- Footer Copyrights -->
									<div class="lx-footer-copyrights">
										<img src="images/logo.png" alt="alternative title" />
										<p>© 2017 Khabar Media Network</p>
									</div>									
								</div>
								<div class="lx-g3-f">
									<!-- Footer Links -->
									<div class="lx-footer-links">
										<h2>LINKS</h2>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>											
										</ul>
									</div>
								</div>
								<div class="lx-g3-f">
									<!-- Footer Links -->
									<div class="lx-footer-links">
										<h2>OTHER LINKS</h2>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>											
										</ul>
									</div>							
								</div>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Popup -->
			<div class="lx-popup">
				<a href="javascript:;"><i class="fa fa-remove"></i></a>
				<div class="lx-popup-inside">
					<a href="javascript:;"><i class="fa fa-caret-left"></i></a>
					<a href="javascript:;"><i class="fa fa-caret-right"></i></a>
					<div class="lx-popup-content">
						<div class="lx-popup-image">
							<img src="#" alt="image title here" />
							<span></span>
						</div>
						<div class="lx-popup-details">
							<h2>Some title</h2>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Popup -->	
		</div>
		<!-- End Wrapper -->
		<!-- JQuery -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<!-- Popup -->
		<script src="js/jquery.popup.js"></script>
		<!-- Main Script -->
		<script src="js/script.js"></script>
	</body>
</html>