<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<title>KHABAR | News Magazin Template</title>
		<meta name="description" content="KHABAR | News Magazin Template">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Awesomefont -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- General CSS Settings -->
		<link rel="stylesheet" href="css/general_style.css">
		<!-- Main Style of the template -->
		<link rel="stylesheet" href="css/main_style.css" title="main">
		<!-- Landing Page Style -->
		<link rel="stylesheet" href="css/reset_style.css">
		<!-- Fav Icon -->
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body>
		<!-- Wrapper -->
		<div class="lx-wrapper">
			<!-- Loader -->
			<div class="lx-loader">
				<img src="images/ring.svg" alt="Loading" />
				<img src="images/logo.png" alt="alternative title" />
			</div>
			<!-- Color Setting -->
			<div class="lx-settings">
				<i class="fa fa-gear"></i>
				<div class="lx-colors">
					<a href="javascript:;" data-css-link="css/main_style.css"><span class="lx-yellow"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_green.css"><span class="lx-green"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_purple.css"><span class="lx-purple"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_pink.css"><span class="lx-pink"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_blue.css"><span class="lx-blue"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_gray.css"><span class="lx-gray"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_orange.css"><span class="lx-orange"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_red.css"><span class="lx-red"></span></a>
				</div>
			</div>
			<div class="lx-g1-f">
				<!-- Header -->
				<div class="lx-header lx-header-horizontal">
					<!-- Header Mobile Menu Button -->
					<div class="lx-header-content">
						<div class="lx-header-content-top">
							<!-- Header Search -->
							<div class="lx-header-search">
								<form action="#" method="post" autocomplete="off">
									<label><input type="text" name="keyword" placeholder="Search" /></label>
									<input type="submit" name="submit" value="&#xf002;" class="fa fa-search" />
								</form>
							</div>
							<!-- Header Date -->
							<div class="lx-header-date">
								<span>Friday, 20<sup>th</sup> February 2017</span>
							</div>
							<div class="lx-clear-fix"></div>
						</div>
						<div class="lx-header-content-bottom">
							<!-- Header Logo -->
							<div class="lx-header-logo">
								<a href="index-1.html">KHABAR</a>
							</div>
							<!-- Header Menu -->
							<div class="lx-header-main-menu">
								<a href="javascript:;"><i class="fa fa-bars"></i></a>
								<ul>
									<li><a href="index-1.html" class="active">HOME<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="index.html">SIDE MENU</a></li>
											<li><a href="index-1.html">TOP MENU</a></li>
										</ul>										
									</li>
									<li><a href="#">POSTS<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="posts-mixed-1.html">MIXED LAYOUT</a></li>
											<li><a href="posts-classique-1.html">CLASSIC LAYOUT</a></li>
											<li><a href="posts-blog-1.html">BlOG LAYOUT</a></li>
											<li><a href="posts-grid-1.html">GRID</a></li>
											<li><a href="posts-chronological-1.html">CHRONOLOGICAL</a></li>
											<li><a href="posts-minimal-1.html">MINIMAL</a></li>
										</ul>									
									</li>
									<li><a href="#">SINGLE POST<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="single-post-hero-fullwidth-1.html">HERO FULLWIDTH</a></li>
											<li><a href="single-post-sidebar-1.html">SIDEBAR</a></li>
											<li><a href="single-post-fullwidth-1.html">NO SIDEBAR</a></li>
											<li><a href="single-post-video-1.html">VIDEO</a></li>
											<li><a href="single-post-gallery-1.html">GALLERY</a></li>
										</ul>										
									</li>
									<li><a href="#">PAGES<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="about-us-1.html">About Us</a></li>
											<li><a href="code-of-ethics-1.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions-1.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines-1.html">Community Guidelines</a></li>
											<li><a href="work-for-us-1.html">Work for us</a></li>
											<li><a href="contact-us-1.html">Contact Us</a></li>
											<li><a href="tv-schedule-1.html">TV Schedule</a></li>	
										</ul>	
									</li>
									<li><a href="#">SPORT<i class="fa fa-caret-down"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu lx-sub-menu-fullheight">
											<li><a href="#"><img src="http://placehold.it/1650x1100" alt="alternative title" /><strong>Wilkinson's advice on winning the England cap</strong></a></li>
											<li><a href="#"><img src="http://placehold.it/1650x1100" alt="alternative title" /><strong>2024 Olympics: Budapest to drop bid to host Games</strong></a></li>
											<li><a href="#"><img src="http://placehold.it/1650x1100" alt="alternative title" /><strong>New Formula 1 cars will be a 'massive challenge'</strong></a></li>
											<li><a href="#"><img src="http://placehold.it/1650x1100" alt="alternative title" /><strong>New Zealand: Ross Taylor becomes country's leading ODI</strong></a></li>
										</ul>	
									</li>
									<li><a href="videos-1.html">VIDEOS</a></li>
									<li><a href="shortcodes-1.html">SHOTCODES</a></li>
									<li><a href="../rtl/index.html">RTL VERSION</a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="lx-g1-f">
				<div class="lx-body">
					<div class="lx-body-content lx-body-content-horizontal">
						<div class="lx-g1-f">
							<!-- Breaking News -->
							<div class="lx-breaking-news lx-width-100per">
								<span>BREAKING NEWS</span>
								<ul>
									<li><a href="#">Sarah Palin 'could be next US ambassador to Canada'</a></li>
									<li><a href="#">Steve Bannon thinks the apocalypse is coming</a></li>
									<li><a href="#">Government 'trying to kill off solar' before it becomes cheapest form of electricity</a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>						
						</div>
						<div class="lx-g1-f">
							<!-- Main Content -->
							<div class="lx-body-main-content">
								<!-- Single Container -->
								<div class="lx-single-post-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>TV SCHEDULE</h2>
									</div>
									<!-- Single Post Content -->
									<div class="lx-single-post-content">
										<div class="lx-tab-nav lx-mt-20">
											<ul>
												<li><a href="javascript:;" class="active">MON</a></li>
												<li><a href="javascript:;">TUE</a></li>
												<li><a href="javascript:;">WED</a></li>
												<li><a href="javascript:;">THU</a></li>
												<li><a href="javascript:;">FRI</a></li>
												<li><a href="javascript:;">SAT</a></li>
												<li><a href="javascript:;">SUN</a></li>
											</ul>
										</div>
										<div class="lx-tab lx-main-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="lx-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="lx-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="lx-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="lx-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="lx-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="lx-tab">
											<table>
												<thead>
													<tr>
														<th>TIME</th>
														<th>PTOGRAMME</th>
														<th>DESCRIPTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>10:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>11:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>12:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>13:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
													<tr>
														<td>14:10</td>
														<td><strong>NEWS</strong></td>
														<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
													</tr>
												</tbody>
											</table>
										</div>										
										<p><strong>KHABAR Media Network</strong></p>
										<!-- Share -->
										<div class="lx-share">
											<ul>
												<li><span>Share on:</span></li>
												<li><a href="#" class="lx-facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="lx-twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="lx-google-plus"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#" class="lx-whatsapp"><i class="fa fa-whatsapp"></i></a></li>
												<li><a href="#" class="lx-linkedin"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#" class="lx-instagram"><i class="fa fa-instagram"></i></a></li>
											</ul>
											<div class="lx-clear-fix"></div>											
										</div>
									</div>								
								</div>	
							</div>
						</div>
					</div>
					<div class="lx-clear-fix"></div>
					<!-- Footer -->
					<div class="lx-footer">
						<!-- Footer Content -->
						<div class="lx-footer-content">
							<!-- Footer Content Top -->
							<div class="lx-footer-content-top">
								<!-- Footer Newsletter -->
								<div class="lx-footer-newsletter">
									<form action="#" method="post">
										<label for="email">Subscribe to our newsletter</label>
										<input type="text" name="email" id="email" placeholder="Your email ..." />
										<input type="submit" name="submit" value="SUBSCRIBE" />
									</form>
								</div>
								<!-- Footer Social Media -->
								<div class="lx-footer-social-media">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>									
								</div>
								<div class="lx-clear-fix"></div>
							</div>
							<!-- Footer Bottom -->
							<div class="lx-footer-content-bottom">
								<div class="lx-g3-f">
									<!-- Footer Copyrights -->
									<div class="lx-footer-copyrights">
										<img src="images/logo.png" alt="alternative title" />
										<p>© 2017 Khabar Media Network</p>
									</div>									
								</div>
								<div class="lx-g3-f">
									<!-- Footer Links -->
									<div class="lx-footer-links">
										<h2>LINKS</h2>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>											
										</ul>
									</div>
								</div>
								<div class="lx-g3-f">
									<!-- Footer Links -->
									<div class="lx-footer-links">
										<h2>OTHER LINKS</h2>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>											
										</ul>
									</div>							
								</div>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Popup -->
			<div class="lx-popup">
				<a href="javascript:;"><i class="fa fa-remove"></i></a>
				<div class="lx-popup-inside">
					<a href="javascript:;"><i class="fa fa-caret-left"></i></a>
					<a href="javascript:;"><i class="fa fa-caret-right"></i></a>
					<div class="lx-popup-content">
						<div class="lx-popup-image">
							<img src="#" alt="image title here" />
							<span></span>
						</div>
						<div class="lx-popup-details">
							<h2>Some title</h2>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Popup -->	
		</div>
		<!-- End Wrapper -->
		<!-- JQuery -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<!-- Popup -->
		<script src="js/jquery.popup.js"></script>
		<!-- Main Script -->
		<script src="js/script.js"></script>
	</body>
</html>